@use '../../styles.scss' as *;
$background1: #bf6200;
$background2: #ff8400;


.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;

  h2{
    color: $primary;
    font-size: 2rem;
  }


  .button {
    position: absolute;
    left: 0;
    margin: 0.5rem;
    max-width: 8rem;
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    max-height: 25rem;
    border-radius: 0.5rem;
    margin: 0;
    top: 2rem;

    .product-list {
      overflow-y: auto;
      display: block;
      flex-direction: column;
      align-items: center;

      ul{
        background: transparent;
      }
    }
  }
  .form {
    margin-left: 5rem;
    flex-grow: 1;
    max-width: 50%;
    top: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
form {
  margin-right: 0;

    button:disabled{
      background-color: grey;
      color: black;
    }
  }


.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;

}

@media (max-width: 720px) {
  .details {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .products{
      max-width: 100%;
      justify-content: center;
      text-align: center;
      .product-list{
        //max-width: 90%;
      }
    }
    .form{
      margin: 0;
      max-width: 90%;
    }
  }

}
