@use '../../../styles.scss' as *;

.product-item {
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
  padding: 1.5rem;
  background: radial-gradient(circle at bottom right, $primary, $primary-very-light);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 28rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font: inherit;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: $primary;
  }

  img {
    width: 100%;
    max-height: 12rem;
    object-fit: contain;
    border-radius: 0.5rem;
    background-color: $white;
    border: 2px $gray solid;
  }

  .info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;

    p {
      margin: 0.25rem 0;
      color: $black;
      font-size: 1.2rem;
      white-space: nowrap; // Voorkom tekst wrapping
      overflow: hidden; // Verberg overflow
      text-overflow: ellipsis;


      &:first-child {
        font-weight: 600;
        font-size: 1.1rem;
        color: $black;
      }
    }
  }
}


