@use '../../../../styles.scss' as *;


.productdetail{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  img{
    //max-width: 35rem;
    //min-width: 35rem;
    max-width: 35%;
    min-width: 35%;
    height: auto;
    max-height: 35rem;
    border-radius: 3rem;
    margin: 1rem;
  }

  .ingredients{
    margin-top: 5rem;
    p {
      max-height: 8rem;
      overflow-y: scroll;
    }
  }

  p{
    max-width: 25rem;
  }

  h2{
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 2.5rem;
    color: $primary;
    font-weight: bold;
  }

  .info{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    top: 0;


    .buttons{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: 1.2rem;
      margin: 0;

      .button {
        min-width: unset;
        width: 3rem;
        height: 2rem;
        justify-content: center;
        padding: 0;
      }

      p{
        display: flex;
        justify-content: center;
        min-width: 1.5rem;
      }
    }
  }

}

@media(max-width: 720px) {
  .productdetail {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 50%;
      min-width: unset;
      border-radius: 0;
    }
    .info{
      margin-bottom: 2rem;
    }
  }
}

