@use '../../../../styles.scss' as *;

button {
  @include button-styles;
  background-color: $primary-dark;
  margin: 0.5rem;

  &.enabled-button {
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &.disabled-button {
    background-color: $success;
    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
