<h1 class="titleClass">{{'adminPanel.header' | translate}}</h1>
<div class="adminpanel">
  <button (click)="onProductChange()" class="button">{{'adminPanel.changeProduct.text' | translate}}</button>
  <button (click)="onAddCategory()" class="button">{{'adminPanel.addCategory.text' | translate}}</button>
  <button (click)="onDeleteProduct()" class="button">{{'adminPanel.removeProduct.text' | translate}}</button>
  <button (click)="onAddProduct()" class="button">{{'adminPanel.addProduct.text' | translate}}</button>
</div>

