ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


