@use '../../../styles.scss' as *;


.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 20rem;
  margin: auto;
  label{
    margin: 1rem;
  }
  button:disabled{
    background-color: $gray;
  }
}
